<launch>
  <!-- Launch the grid map image to grid map demo node. -->
  <node pkg="osr_map_demos" type="image_to_gridmap" name="image_to_gridmap" output="screen">
  	<param name="image_path" value="$(find osr_map_demos)/map/map.png" />
  	<!-- length_x * resolution = size_x of map -->
  	<param name="length_x" value="280"/> 
  	<param name="length_y" value="340"/>
  	<param name="resolution" value="0.45"/>
  	<param name="offset_x" value="5.0" />
  	<param name="offset_y" value="2.0" />
  	<param name="map_frame_id" value="map" />
  </node>

  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="image_to_gridmap_viz" output="screen" >
  	<rosparam command="load" file="$(find osr_map_demos)/config/image_to_gridmap.yaml" />
  </node>

  <!-- Launch RViz with the demo configuration -->
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find osr_map_demos)/rviz/osr_map_demo.rviz" /-->
</launch>
